@import "tailwindcss";

:root {
	--background: #f2f2f2;
	--foreground: #1c242b;
	color-scheme: light;
}

:root[data-color-scheme="dark"] {
	--background: #1c242b;
	--foreground: #f2f2f2;
	color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
	:root:not([data-color-scheme]) {
		--background: #1c242b;
		--foreground: #f2f2f2;
		color-scheme: dark;
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-montserrat), system-ui, sans-serif;
	--font-mono: SFMono-Regular, Consolas, "Liberation Mono", monospace;

	--color-syntech-green: #94c11f;
	--color-charcoal: #1c242b;
	--color-graphite: #303030;
	--color-cream-white: #f2f2f2;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-sans);
}
